<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm.mapper.NewsMapper" >
  <resultMap id="BaseResultMap" type="com.zking.ssm.model.News" >
    <constructor >
      <idArg column="news_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>

  <resultMap id="row" type="com.zking.ssm.model.News" >
      <id column="news_id" property="newsId" javaType="java.lang.Integer" />
      <result column="title" property="title" javaType="java.lang.String" />
  </resultMap>

 <resultMap id="row2" type="com.zking.ssm.model.News">
    <id column="news_id" property="newsId"/>
    <result column="title" property="title"/>
<!--    &lt;!&ndash; 多对多的关系 &ndash;&gt;
    &lt;!&ndash; property: 指的是集合属性的值, ofType：指的是集合中元素的类型 &ndash;&gt;-->
    <collection property="category" ofType="com.zking.ssm.model.Category">
      <id column="category_id" property="categoryId"/>
      <result column="category_name" property="categoryName"/>
    </collection>
  </resultMap>

  <sql id="Base_Column_List" >
    news_id, title
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_news
    where news_id = #{newsId,jdbcType=INTEGER}
  </select>
    <select id="list" resultMap="row" parameterType="com.zking.ssm.model.News">
      select *
      from t_news
      where 1=1
    </select>
  <select id="loadNews" resultMap="row2" parameterType="com.zking.ssm.model.News">
select
n.*, i.*
from t_news as n
inner join t_news_category as c on n.news_id = c.nid
inner join t_category as i on i.category_id = C.cid
where n.news_id = #{newsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_news
    where news_id = #{newsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteNewsKey" parameterType="java.lang.Integer">
    delete from t_news_category
    where nid = #{newsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.ssm.model.News"  >


    insert into t_news_category(
    nid ,cid
    ) values
    (#{newsId,jdbcType=INTEGER},#{categoryId,jdbcType=INTEGER})

  </insert>
  <insert id="insertSelective" parameterType="com.zking.ssm.model.News" >
    insert into t_news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="newsId != null" >
        news_id,
      </if>
      <if test="title != null" >
        title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="newsId != null" >
        #{newsId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.ssm.model.News" >
    update t_news
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
    </set>
    where news_id = #{newsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.ssm.model.News" >
    update t_news
    set title = #{title,jdbcType=VARCHAR}
    where news_id = #{newsId,jdbcType=INTEGER}
  </update>
</mapper>