<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm.mapper.TreeNodeMapper" >
  <resultMap id="BaseResultMap" type="com.zking.ssm.model.TreeNode" >
    <constructor >
      <idArg column="tree_node_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="tree_node_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="tree_node_type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="parent_node_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="position" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>

  <resultMap id="row" type="com.zking.ssm.model.TreeNode" >
      <id column="tree_node_id" property="treeNodeId" javaType="java.lang.Integer" />
      <result column="tree_node_name" property="treeNodeName" javaType="java.lang.String" />
      <result column="tree_node_type" property="treeNodeType" javaType="java.lang.Integer" />
      <result column="parent_node_id" property="parentNodeId" javaType="java.lang.Integer" />
      <result column="url" property="url" javaType="java.lang.String" />
      <result column="address" property="address" javaType="java.lang.String" />
      <result column="position" property="position" javaType="java.lang.Integer" />
      <result column="icon" property="icon" javaType="java.lang.String" />
  </resultMap>
  <sql id="Base_Column_List" >
    tree_node_id, tree_node_name, tree_node_type, parent_node_id, url, address, position
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_tree_node
    where tree_node_id = #{treeNodeId,jdbcType=INTEGER}
  </select>
    <select id="list" resultMap="row" parameterType="com.zking.ssm.model.TreeNode">
      select * from t_tree_node
      where
      <if test="treeNodeId !=null">
        parent_node_id = #{treeNodeId,jdbcType=INTEGER}
      </if>
      <if test="treeNodeId==null">
        parent_node_id is null
      </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_tree_node
    where tree_node_id = #{treeNodeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.ssm.model.TreeNode" >
    insert into t_tree_node (tree_node_id, tree_node_name, tree_node_type, 
      parent_node_id, url, address, 
      position)
    values (#{treeNodeId,jdbcType=INTEGER}, #{treeNodeName,jdbcType=VARCHAR}, #{treeNodeType,jdbcType=INTEGER}, 
      #{parentNodeId,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{position,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.ssm.model.TreeNode" >
    insert into t_tree_node
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="treeNodeId != null" >
        tree_node_id,
      </if>
      <if test="treeNodeName != null" >
        tree_node_name,
      </if>
      <if test="treeNodeType != null" >
        tree_node_type,
      </if>
      <if test="parentNodeId != null" >
        parent_node_id,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="position != null" >
        position,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="treeNodeId != null" >
        #{treeNodeId,jdbcType=INTEGER},
      </if>
      <if test="treeNodeName != null" >
        #{treeNodeName,jdbcType=VARCHAR},
      </if>
      <if test="treeNodeType != null" >
        #{treeNodeType,jdbcType=INTEGER},
      </if>
      <if test="parentNodeId != null" >
        #{parentNodeId,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.ssm.model.TreeNode" >
    update t_tree_node
    <set >
      <if test="treeNodeName != null" >
        tree_node_name = #{treeNodeName,jdbcType=VARCHAR},
      </if>
      <if test="treeNodeType != null" >
        tree_node_type = #{treeNodeType,jdbcType=INTEGER},
      </if>
      <if test="parentNodeId != null" >
        parent_node_id = #{parentNodeId,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=INTEGER},
      </if>
    </set>
    where tree_node_id = #{treeNodeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.ssm.model.TreeNode" >
    update t_tree_node
    set tree_node_name = #{treeNodeName,jdbcType=VARCHAR},
      tree_node_type = #{treeNodeType,jdbcType=INTEGER},
      parent_node_id = #{parentNodeId,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      position = #{position,jdbcType=INTEGER}
    where tree_node_id = #{treeNodeId,jdbcType=INTEGER}
  </update>
</mapper>